USE [master]
GO
/****** Object:  Database [AplusDosya]    Script Date: 1.05.2018 02:55:42 ******/
CREATE DATABASE [AplusDosya] ON  PRIMARY 
( NAME = N'AplusDosya', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AplusDosya.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AplusDosya_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AplusDosya_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AplusDosya].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AplusDosya]
GO
/****** Object:  Table [dbo].[AplusTable]    Script Date: 1.05.2018 02:55:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AplusTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AplusFileName] [nvarchar](max) NOT NULL,
	[AplusFilePath] [nvarchar](max) NOT NULL,
	[AplusFileType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AplusTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
